.root {
  border-bottom: 1px solid #eee;
  font-size: 12px;
  height: 24px;
  margin: 2px;
  padding: 8px;
  transition: width 0.6s;
}

.inProgress {
  background-color: rgb(0 255 0 / 60%);
}

.fileName {
  display: block;
  margin-bottom: 2px;
}

.progress {
  display: block;
}

.downloadLink {
  color: inherit;
}
