html 
    head
        title=TITLE
        link(rel="stylesheet" href="/client.min.css")
    body
        #container
            #peers
            #files
                .item: input(type="file")

            input#socket-host(type="hidden" value=SOCKET_HOST)
        script(src=`${SOCKET_PROTOCOL}://${SOCKET_HOST}/socket.io/socket.io.js` defer)
        script(src="/client.min.js" defer)