html 
  head
    title="fileshare-web"
    link(rel="stylesheet" href="/client.min.css")
  body
    #container
      #peers
      #files
        .item: input(type="file")

      input#socket-host(type="hidden" value='localhost:4001')
    script(src=`http://localhost:4001/socket.io/socket.io.js` defer)
    script(src="/client.min.js" defer)